[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/xinyu-li-2020/xinyu-li-2020.github.io.git
	branch = master
